@tailwind base;
@tailwind components;
@tailwind utilities;


.aurora-container {
  width: 100%;
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}





@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


@keyframes animate-gradient-loader {
  0% {
    
     background-position: 200% 50%;
  }
  100% {
   background-position: 0% 50%;
  }
}

.animate-gradient-loader {
  animation: animate-gradient-loader 10s linear infinite;
  background-size: 200% 200%;
}

.icon-marquee {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.icon-marquee svg {
  position: relative;
  z-index: 1;
}
.icon-marquee {
  position: relative;
  display: inline-block;
  overflow: hidden;
  animation: slow-blink 3s ease-in-out infinite;
}
.icon-marquee svg {
  position: relative;
  z-index: 1;
}
.icon-marquee::after {
  content: none;
}
@keyframes slow-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}